@model IEnumerable<wreq.Models.ViewModels.ApplicationUserViewModel>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Resource.Index;
}

<h2>@Resource.Users</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink(Resource.Edit, "Edit", new { id = item.Id })
                
                @if (User.Identity.GetUserId() != item.Id)
                {
                    <span>|</span>
                    @Html.ActionLink(@Resource.Delete, "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
