@model wreq.Models.ViewModels.IrrigationTypeViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Resource.Details;
}

<h2>@Resource.Details</h2>

<div>
    <h4>@Resource.IrrigationType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WettedSoilAreaFraction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WettedSoilAreaFraction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @if (Model.AuthorId == User.Identity.GetUserId() || User.IsInRole("Admin"))
    {
        @Html.ActionLink(Resource.Edit, "Edit", new { id = Model.Id })
    } 
    @Html.ActionLink(Resource.Back, "Index")
</p>
